<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="ko">
<head>
  <title>dataset</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/lotto.css'%}">
</head>

<body>
  <div class="page-header">
  <!--<pre>{{datasets}}</pre>-->
  <h1><a href="/home">Home</a></h1>
  </div>

  <div class="container lotto">

    {% for key, value in datasets.items %}
    <h2>{{key}}</h2><a href="/detail/{{key}}">link</a>
    <!--<p> {{value}}</p>-->
    {% for k, v in value.items %}
    <!--<p> {{k}}</p>-->
    <p> {{k}} : {{v|linebreaksbr}}</p>
    {% endfor %}
    <!--<p> {{data.한우리집}}</p>-->
    <!--<p> {{data.보증금}}</p>-->
    <!--<p> {{data.values}}</p>-->

    {% endfor %}
  <!--
  <h2>당첨 기원 (2)</h2>
  <p> last update:2000/1/1</p>
  <p> 1, 10, 15, 20, 30 </p>
  -->

  </div>
</body>
</html>